@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
@import "tailwindcss";
@custom-variant dark (&:is(.dark *));

@theme {
  --font-serif: "Lora", ui-serif, Georgia, serif;
  --font-sans: "Inter", sans-serif;
  --color-border: var(--border);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-accent: var(--accent);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-card: var(--card);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
}

:root {
  --background: oklch(0.99 0.01 20);
  --foreground: oklch(0.2 0.02 20);

  --surface-alt: oklch(0.96 0.01 25);
  --surface-dark: oklch(0.18 0.02 20);

  --primary: oklch(0.7 0.15 35);
  --primary-foreground: oklch(0.99 0.01 20);

  --accent: oklch(0.4 0.1 240);

  --border: oklch(0.92 0.02 20);
  --radius: 1.5rem;
  --sidebar: hsl(0 0% 98%);
  --sidebar-foreground: hsl(240 5.3% 26.1%);
  --sidebar-primary: hsl(240 5.9% 10%);
  --sidebar-primary-foreground: hsl(0 0% 98%);
  --sidebar-accent: hsl(240 4.8% 95.9%);
  --sidebar-accent-foreground: hsl(240 5.9% 10%);
  --sidebar-border: hsl(220 13% 91%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

@theme {
  --color-surface-alt: var(--surface-alt);
  --color-surface-dark: var(--surface-dark);
}

.dark {
  --background: oklch(0.12 0.02 260);
  --foreground: oklch(0.95 0.01 260);
  --primary: oklch(0.98 0.01 260);
  --primary-foreground: oklch(0.15 0.02 260);
  --border: oklch(0.25 0.02 260);
  --card: oklch(0.18 0.02 260);
  --sidebar: hsl(240 5.9% 10%);
  --sidebar-foreground: hsl(240 4.8% 95.9%);
  --sidebar-primary: hsl(224.3 76.3% 48%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(240 3.7% 15.9%);
  --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
  --sidebar-border: hsl(240 3.7% 15.9%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

@layer base {
  *,
  ::after,
  ::before {
    border-color: var(--border);
  }
  body {
    font-family: var(--font-sans);
    @apply bg-background text-foreground antialiased;
  }
}

@theme inline {
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}
